{
  "presets": [["env", { "modules": false, "loose": true }], "stage-2"],
  "plugins": ["transform-runtime", "transform-object-rest-spread"],
  "env": {
    "commonjs": {
      "presets": [["env", { "modules": "commonjs", "loose": true }]]
    }
  }
}
