@keyframes varl-slide-bottom-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes varl-slide-bottom-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes varl-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes varl-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes varl-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.varl-fade {
  &-enter-active {
    animation: .3s varl-fade-in;
  }

  &-leave-active {
    animation: .3s varl-fade-out;
  }
}

.varl-slide-bottom {
  &-enter-active {
    animation: varl-slide-bottom-enter .3s both ease;
  }

  &-leave-active {
    animation: varl-slide-bottom-leave .3s both ease;
  }
}
